{
  "extends": ["plugin:@typescript-eslint/recommended", "plugin:prettier/recommended", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": 2,
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/camelcase": 0,
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/ban-ts-ignore": 0,
    "@typescript-eslint/no-non-null-assertion": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-empty-interface": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/consistent-type-imports": 2,
    "@typescript-eslint/ban-types": 0,
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/no-namespace": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": ["const", "let", "var", "block-like", "import", "interface"], "next": "*" },
      { "blankLine": "always", "prev": "*", "next": ["return", "export"] },
      { "blankLine": "always", "prev": "import", "next": ["return", "export"] },
      { "blankLine": "any", "prev": ["const", "let", "var"], "next": ["const", "let", "var"] },
      { "blankLine": "any", "prev": ["import"], "next": ["import"] }
    ],
    "prefer-spread": 0,
    "no-var": 0
  }
}
